$fontsizeFallback: 1rem;
$fontsize: calc(1.1*(1.5vw+1vh));
$fontsizeFallback2: calc(1.55*(#{$fontsizeFallback}));
$fontsize2: calc(1*(#{$fontsize}));
$fontsizeFallback3: calc(2.8*(#{$fontsizeFallback}));
$fontsize3: calc(1.8*(#{$fontsize}));
$lineheightFallback: calc(1.1*(#{$fontsizeFallback}));
$lineheight: calc(1.05*(#{$fontsize}));
$lineheightFallback2: calc(1.010*(#{$fontsizeFallback2}));
$lineheight2: calc(0.910*(#{$fontsize2}));
$lineheightFallback3: calc(0.910*(#{$fontsizeFallback3}));
$lineheight3: calc(0.910*(#{$fontsize3}));
$pink: rgb(255, 0, 255);
$white: white;
@mixin typesize1 {
    font-size: $fontsizeFallback3;
    line-height: $lineheightFallback3;
    font-size: $fontsize3;
    line-height: $lineheight3;
}

@mixin typesize2 {
    font-size: $fontsizeFallback2;
    line-height: $lineheightFallback2;
    font-size: $fontsize2;
    line-height: $lineheight2;
}

@mixin bluebar {
    background-color: blue;
    font-family: neue-haas-unica, sans-serif;
    color: rgb(0, 255, 0);
    border-bottom: 1px solid rgb(0, 255, 0);
}

////////////////////////////////////////////////////////// Circles
.circle-container-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    border: 1px solid rgb(0, 255, 0);
    border-right: none;
    border-left: none;
}

.circles-container {
    grid-column: 1 / 5;
    grid-row: 1 / 6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.circles-container .circle {
    background-size: cover;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 255);
    box-shadow: 0px 0px 3vw 1vw rgb(0, 0, 255);
}

#circle-1 {
    background-image: url("images/art.jpg");
}

#circle-2 {
    background-image: url("images/art2.jpg");
}

#circle-3 {
    background-image: url("images/art2.jpg");
}

.circle-line {
    border-bottom: 1px solid rgb(0, 255, 0);
    grid-column: 1 / 5;
    grid-row: 1 / 6;
    height: 50%;
}

////////////////////////////////////////////////////////  SINOPSE
.p-container p {
    padding: 1vw;
    margin: 0;
}

.p-container {
    @include typesize2;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    line-height: $lineheight;
    z-index: 0;
    color: rgb(0, 255, 0);
}

.p-container p {
    padding: 1vw;
    margin: 0;
}

.p-container a {
    text-decoration: underline 1px;
}

.slogan p {
    @include typesize2;
    margin-top: 0.5vw;
}

////////////////////////////////////////////////////////  Conceito
.image {
    background-size: cover;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 255);
    box-shadow: 0px 0px 3vw 1vw rgb(0, 0, 255);
}

#image-1 {
    background-image: url("images/oculos.jpg");
}

#image-2 {
    background-image: url("images/oculos.jpg");
}

.left {
    grid-column: 1 / 2;
}

.right {
    grid-column: 2 / 3;
}

////////////////////////////////////////////////////////  Footer
.social-newsletter-container {
    margin-top: 0;
}

@media only screen and (max-width: 600px) {
    $fontsizeFallback: 0.6rem;
    $fontsize: calc(4.5*(1vw+2vh));
    $fontsizeFallback2: calc(1.8*(#{$fontsizeFallback}));
    $fontsize2: calc(0.9*(#{$fontsize}));
    $fontsizeFallback3: calc(2.0*(#{$fontsizeFallback}));
    $fontsize3: calc(1.1*(#{$fontsize}));
    $lineheightFallback: calc(1.1*(#{$fontsizeFallback}));
    $lineheight: calc(1.05*(#{$fontsize}));
    $lineheightFallback2: calc(1.010*(#{$fontsizeFallback2}));
    $lineheight2: calc(0.910*(#{$fontsize2}));
    $lineheightFallback3: calc(0.910*(#{$fontsizeFallback3}));
    $lineheight3: calc(0.910*(#{$fontsize3}));
    @mixin typesize1 {
        font-size: $fontsizeFallback3;
        line-height: $lineheightFallback3;
        font-size: $fontsize3;
        line-height: $lineheight3;
    }
    @mixin typesize2 {
        font-size: $fontsizeFallback2;
        line-height: $lineheightFallback2;
        font-size: $fontsize2;
        line-height: $lineheight2;
    }
    ////////////////////////////////////////////////////////// Circles
    .circle-container-wrapper {
        grid-template-rows: auto auto auto;
        border: 1px solid rgb(0, 255, 0);
    }
    .circles-container {
        grid-column: 1 / 5;
        grid-row: 1 / 6;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .circles-container .circle {
        height: 80vw;
        width: 80vw;
    }
    .circle-line {
        border-bottom: none;
        border-right: 1px solid rgb(0, 255, 0);
        grid-column: 1 / 3;
        grid-row: 1 / 6;
        height: 100%;
        width: 50;
    }
    ////////////////////////////////////////////////////////  SINOPSE
    .p-container p {
        padding: 1vw;
        margin: 0;
    }
    .p-container {
        @include typesize2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        line-height: $lineheight;
    }
    .p-container a {
        text-decoration: underline 1px;
    }
    .slogan p {
        @include typesize2;
        margin-top: 0.5vw;
    }
    ////////////////////////////////////////////////////////  Conceito
    .image {
        background-size: cover;
        height: 40vw;
        width: 40vw;
    }
    .left {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }
    .right {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #image-1 {
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 400px) {
    $fontsizeFallback: 0.6rem;
    $fontsize: calc(4.5*(1vw+2vh));
    $fontsizeFallback2: calc(1.6*(#{$fontsizeFallback}));
    $fontsize2: calc(0.9*(#{$fontsize}));
    $fontsizeFallback3: calc(1.9*(#{$fontsizeFallback}));
    $fontsize3: calc(1.1*(#{$fontsize}));
    $lineheightFallback: calc(1.1*(#{$fontsizeFallback}));
    $lineheight: calc(1.05*(#{$fontsize}));
    $lineheightFallback2: calc(1.010*(#{$fontsizeFallback2}));
    $lineheight2: calc(0.910*(#{$fontsize2}));
    $lineheightFallback3: calc(0.910*(#{$fontsizeFallback3}));
    $lineheight3: calc(0.910*(#{$fontsize3}));
    @mixin typesize1 {
        font-size: $fontsizeFallback3;
        line-height: $lineheightFallback3;
        font-size: $fontsize3;
        line-height: $lineheight3;
    }
    @mixin typesize2 {
        font-size: $fontsizeFallback2;
        line-height: $lineheightFallback2;
        font-size: $fontsize2;
        line-height: $lineheight2;
    }
    .p-container {
        @include typesize2;
        line-height: $lineheight;
    }
    .slogan p {
        @include typesize2;
    }
}

@media only screen and (max-width: 320px) {
    $fontsizeFallback: 0.6rem;
    $fontsize: calc(4.5*(1vw+2vh));
    $fontsizeFallback2: calc(1.4*(#{$fontsizeFallback}));
    $fontsize2: calc(0.9*(#{$fontsize}));
    $fontsizeFallback3: calc(1.6*(#{$fontsizeFallback}));
    $fontsize3: calc(1.1*(#{$fontsize}));
    $lineheightFallback: calc(1.1*(#{$fontsizeFallback}));
    $lineheight: calc(1.05*(#{$fontsize}));
    $lineheightFallback2: calc(1.010*(#{$fontsizeFallback2}));
    $lineheight2: calc(0.910*(#{$fontsize2}));
    $lineheightFallback3: calc(0.910*(#{$fontsizeFallback3}));
    $lineheight3: calc(0.910*(#{$fontsize3}));
    @mixin typesize1 {
        font-size: $fontsizeFallback3;
        line-height: $lineheightFallback3;
        font-size: $fontsize3;
        line-height: $lineheight3;
    }
    @mixin typesize2 {
        font-size: $fontsizeFallback2;
        line-height: $lineheightFallback2;
        font-size: $fontsize2;
        line-height: $lineheight2;
    }
    .p-container {
        @include typesize2;
        line-height: $lineheight;
    }
    .slogan p {
        @include typesize2;
    }
}