$fontsizeFallback: 1rem;
$fontsize: calc(1.1*(1.5vw+1vh));
$fontsizeFallback2: calc(1.55*(#{$fontsizeFallback}));
$fontsize2: calc(1*(#{$fontsize}));
$fontsizeFallback3: calc(2.8*(#{$fontsizeFallback}));
$fontsize3: calc(1.8*(#{$fontsize}));
$lineheightFallback: calc(1.1*(#{$fontsizeFallback}));
$lineheight: calc(1.05*(#{$fontsize}));
$lineheightFallback2: calc(1.010*(#{$fontsizeFallback2}));
$lineheight2: calc(0.910*(#{$fontsize2}));
$lineheightFallback3: calc(0.910*(#{$fontsizeFallback3}));
$lineheight3: calc(0.910*(#{$fontsize3}));
$pink: rgb(255, 0, 255);
$white: white;
@mixin typesize1 {
    font-size: $fontsizeFallback3;
    line-height: $lineheightFallback3;
    font-size: $fontsize3;
    line-height: $lineheight3;
}

@mixin typesize2 {
    font-size: $fontsizeFallback2;
    line-height: $lineheightFallback2;
    font-size: $fontsize2;
    line-height: $lineheight2;
}

@mixin bluebar {
    background-color: blue;
    font-family: neue-haas-unica, sans-serif;
    color: rgb(0, 255, 0);
    border-bottom: 1px solid rgb(0, 255, 0);
}

//////////////////////////////////////////////////////// MENU
///////////////////////// Programa
.program-nav-wrapper {
    @include typesize1;
    @include bluebar;
    padding: 1vw;
    display: flex;
    flex-direction: row;
}

.program-nav-wrapper a {
    text-transform: uppercase;
    margin-right: 1vw;
    z-index: 1;
    text-decoration: none;
    color: rgb(0, 255, 0);
    border-radius: 2vw;
    border: solid rgb(0, 255, 0) 1px;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 0.8vw;
}

.program-nav-wrapper a:hover {
    background-color: rgb(0, 255, 0);
    color: rgb(0, 0, 255);
    cursor: pointer;
}

//////////////////////////////////////////////////////// Programa
///////////////////////// All Info
#program-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
    @include typesize2;
    @include bluebar;
    border-bottom: none;
}

#day-28 .program-list-item:nth-child(2),
#day-29 .program-list-item:nth-child(2),
#day-30 .program-list-item:nth-child(2) {
    border-top: solid rgb(0, 255, 0) 1px;
}

#program-wrapper h2 {
    @include typesize1;
    @include bluebar;
    text-transform: uppercase;
    z-index: 1;
    text-decoration: none;
    color: rgb(0, 255, 0);
    border-radius: 2vw;
    border: solid rgb(0, 255, 0) 1px;
    padding: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 0.8vw;
    width: fit-content;
    margin-left: 1vw;
    margin-top: 5%;
    margin-bottom: 2%;
    background-color: rgb(0, 255, 0);
    color: rgb(0, 0, 255);
}

.program-list-item {
    @include bluebar;
}

.speaker-item,
.session-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1vw;
}

///////////////////////// Session
.session-item {
    row-gap: 0.5vw;
}

.more {
    grid-column: 4/5;
    @include typesize2;
    text-transform: uppercase;
    z-index: 1;
    text-decoration: none;
    background-color: rgb(0, 0, 255);
    color: rgb(0, 255, 0);
    border: solid rgb(0, 255, 0) 1px;
    padding: 0.7vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 0.5vw;
    border-radius: 2vw;
    width: auto;
    justify-self: end;
    align-self: start;
}

.more:hover {
    background-color: rgb(0, 255, 0);
    color: rgb(0, 0, 255);
    cursor: pointer;
}

.hour,
.title {
    margin-bottom: 1%;
}

.no-type {
    grid-row: 1/2;
}

.hour-location-container {
    grid-column: 1/2;
}

.title-type-container {
    grid-column: 2/4;
}

.name {
    grid-row: 1/2;
    text-transform: uppercase;
    margin-bottom: 1%;
}

.position {
    font-weight: 500;
    margin-bottom: 1%;
}

.bio {
    margin-top: 3%;
}

///////////////////////// Speakrs
.speaker-item {
    grid-template-rows: auto auto auto;
    margin-bottom: 2%;
}

.speaker-container {
    transition: all 0.5s ease-in-out;
    max-height: 1000px;
    opacity: 1;
    padding-top: 3%;
    margin-bottom: 3%;
}

.hide {
    transition: all 0.5s ease-in-out;
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    padding-top: 0;
    margin-bottom: 0;
}

.hide .speaker-item {
    display: none;
    height: 0px;
}

.photo {
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: rgb(0, 255, 0);
    background-size: cover;
    height: calc(15 * (0.5 * #{$fontsizeFallback2}));
    height: calc(15 * (0.5 * #{$fontsize2}));
    width: calc(15 * (0.5 * #{$fontsizeFallback2}));
    width: calc(15 * (0.5 * #{$fontsize2}));
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 255, 0);
    box-shadow: 0px 0px 12vw 4vw rgb(0, 255, 0);
    z-index: 0;
}

.speaker-info-container {
    grid-column: 2/4;
    grid-row: 1/4;
}

.hour,
.name,
.title {
    @include typesize1;
    text-transform: uppercase;
}

.type {
    align-self: end;
}

@media only screen and (max-width: 600px) {
    $fontsizeFallback: 0.6rem;
    $fontsize: calc(4.5*(1vw+2vh));
    $fontsizeFallback2: calc(1.8*(#{$fontsizeFallback}));
    $fontsize2: calc(0.9*(#{$fontsize}));
    $fontsizeFallback3: calc(2.0*(#{$fontsizeFallback}));
    $fontsize3: calc(1.1*(#{$fontsize}));
    $lineheightFallback: calc(1.1*(#{$fontsizeFallback}));
    $lineheight: calc(1.05*(#{$fontsize}));
    $lineheightFallback2: calc(1.010*(#{$fontsizeFallback2}));
    $lineheight2: calc(0.910*(#{$fontsize2}));
    $lineheightFallback3: calc(0.910*(#{$fontsizeFallback3}));
    $lineheight3: calc(0.910*(#{$fontsize3}));
    @mixin typesize1 {
        font-size: $fontsizeFallback3;
        line-height: $lineheightFallback3;
        font-size: $fontsize3;
        line-height: $lineheight3;
    }
    @mixin typesize2 {
        font-size: $fontsizeFallback2;
        line-height: $lineheightFallback2;
        font-size: $fontsize2;
        line-height: $lineheight2;
    }
    //////////////////////////////////////////////////////// MENU
    .menu-container a,
    #artshare-title,
    .program-nav-wrapper {
        @include typesize1;
    }
    #artshare-logo {
        height: calc(1.6 * (0.5 * #{$fontsizeFallback3}));
        height: calc(1.6 * (0.5 * #{$fontsize3}));
        margin-right: 0.5vw;
    }
    .menu-container {
        @include typesize1;
    }
    .program-nav-wrapper a {
        border-radius: 4vw;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-bottom: 1vw;
    }
    .menu h1,
    .menu-container,
    .program-nav-wrapper {
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    .circle {
        height: calc(1.3 * (0.5 * #{$fontsizeFallback2}));
        height: calc(1.3 * (0.5 * #{$fontsize2}));
        width: calc(1.3 * (0.5 * #{$fontsizeFallback2}));
        width: calc(1.3 * (0.5 * #{$fontsize2}));
        border-radius: 50%;
    }
    .menu-container a {
        @include typesize2;
        font-family: neue-haas-unica, sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        color: rgb(0, 255, 0);
        text-decoration: none;
    }
    #artshare-title {
        @include typesize1;
        font-family: neue-haas-unica, sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none!important;
        border: none;
    }
    //////////////////////////////////////////////////////// Programa
    ///////////////////////// All Info
    #program-wrapper {
        margin-top: 30%;
        @include typesize2;
    }
    #program-wrapper h2 {
        @include typesize1;
        border-radius: 4vw;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-bottom: 1vw;
    }
    ///////////////////////// Session
    .session-item {
        grid-template-columns: auto auto auto;
    }
    .more {
        grid-column: 3/4;
        @include typesize2;
        padding: 1vw;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-bottom: 1vw;
        border-radius: 4vw;
    }
    .hour-location-container {
        grid-column: 1/4;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .hour {
        margin-right: 2vw;
        @include typesize2;
    }
    .no-type {
        grid-row: 1/4;
    }
    .title-type-container {
        grid-column: 1/3;
    }
    .name {
        grid-row: 1/2;
        text-transform: uppercase;
        margin-bottom: 0.5%;
    }
    .name:hover {
        text-decoration: underline 1px;
    }
    ///////////////////////// Speakrs
    .speaker-container {
        margin-top: 4%;
    }
    .speaker-container.hide {
        margin-bottom: 1vw;
        margin-top: 1vw;
    }
    .speaker-item {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        margin-bottom: 6%;
        column-gap: 4%;
    }
    .photo {
        grid-column: 1/2;
        height: calc(10 * (0.5 * #{$fontsizeFallback2}));
        height: calc(10 * (0.5 * #{$fontsize2}));
        width: calc(10 * (0.5 * #{$fontsizeFallback2}));
        width: calc(10 * (0.5 * #{$fontsize2}));
    }
    .hour,
    .name,
    .title {
        @include typesize1;
    }
}

@media only screen and (max-width: 400px) {
    $fontsizeFallback: 0.6rem;
    $fontsize: calc(4.5*(1vw+2vh));
    $fontsizeFallback2: calc(1.6*(#{$fontsizeFallback}));
    $fontsize2: calc(0.9*(#{$fontsize}));
    $fontsizeFallback3: calc(1.9*(#{$fontsizeFallback}));
    $fontsize3: calc(1.1*(#{$fontsize}));
    $lineheightFallback: calc(1.1*(#{$fontsizeFallback}));
    $lineheight: calc(1.05*(#{$fontsize}));
    $lineheightFallback2: calc(1.010*(#{$fontsizeFallback2}));
    $lineheight2: calc(0.910*(#{$fontsize2}));
    $lineheightFallback3: calc(0.910*(#{$fontsizeFallback3}));
    $lineheight3: calc(0.910*(#{$fontsize3}));
    @mixin typesize1 {
        font-size: $fontsizeFallback3;
        line-height: $lineheightFallback3;
        font-size: $fontsize3;
        line-height: $lineheight3;
    }
    @mixin typesize2 {
        font-size: $fontsizeFallback2;
        line-height: $lineheightFallback2;
        font-size: $fontsize2;
        line-height: $lineheight2;
    }
    #info-container-1.info-container h1,
    #info-container-1.info-container .slogan,
    #info-container-1.info-container .time-local-container {
        @include typesize1;
    }
    #info-container-1 h1 img {
        height: calc(0.75 * (0.5 * #{$fontsizeFallback3}));
        height: calc(0.75 * (0.5 * #{$fontsize3}));
    }
    .local-container,
    .time-container,
    .p-container,
    .mc-field-group input,
    .optionalParent input,
    #mc_embed_signup h2,
    .slogan p {
        @include typesize2;
    }
    .slogan p {
        @include typesize2;
    }
    #info-container-1.info-container .slogan h2 {
        @include typesize1;
    }
    .newsletter h2 {
        @include typesize1;
    }
    .newsletter a {
        @include typesize2;
    }
    //////////////////////////////////////////////////////// FOOTER
    .newsletter h2 {
        @include typesize2;
    }
    .newsletter a {
        @include typesize2;
    }
    .social a {
        @include typesize2;
    }
    //////////////////////////////////////////////////////// MENU
    .menu-container a,
    #artshare-title,
    .program-nav-wrapper {
        @include typesize1;
    }
    #artshare-logo {
        height: calc(1.6 * (0.5 * #{$fontsizeFallback3}));
        height: calc(1.6 * (0.5 * #{$fontsize3}));
    }
    .menu-container {
        @include typesize1;
    }
    .circle {
        height: calc(1.3 * (0.5 * #{$fontsizeFallback2}));
        height: calc(1.3 * (0.5 * #{$fontsize2}));
        width: calc(1.3 * (0.5 * #{$fontsizeFallback2}));
        width: calc(1.3 * (0.5 * #{$fontsize2}));
    }
    .menu-container a {
        @include typesize2;
    }
    #artshare-title {
        @include typesize1;
    }
    //////////////////////////////////////////////////////// Programa
    #program-wrapper {
        @include typesize2;
    }
    #program-wrapper h2 {
        @include typesize1;
    }
    .more {
        @include typesize2;
    }
    .hour {
        @include typesize2;
    }
    .photo {
        grid-column: 1/2;
        height: calc(10 * (0.5 * #{$fontsizeFallback2}));
        height: calc(10 * (0.5 * #{$fontsize2}));
        width: calc(10 * (0.5 * #{$fontsizeFallback2}));
        width: calc(10 * (0.5 * #{$fontsize2}));
    }
    .hour,
    .name,
    .title {
        @include typesize1;
    }
}

@media only screen and (max-width: 320px) {
    $fontsizeFallback: 0.6rem;
    $fontsize: calc(4.5*(1vw+2vh));
    $fontsizeFallback2: calc(1.4*(#{$fontsizeFallback}));
    $fontsize2: calc(0.9*(#{$fontsize}));
    $fontsizeFallback3: calc(1.6*(#{$fontsizeFallback}));
    $fontsize3: calc(1.1*(#{$fontsize}));
    $lineheightFallback: calc(1.1*(#{$fontsizeFallback}));
    $lineheight: calc(1.05*(#{$fontsize}));
    $lineheightFallback2: calc(1.010*(#{$fontsizeFallback2}));
    $lineheight2: calc(0.910*(#{$fontsize2}));
    $lineheightFallback3: calc(0.910*(#{$fontsizeFallback3}));
    $lineheight3: calc(0.910*(#{$fontsize3}));
    @mixin typesize1 {
        font-size: $fontsizeFallback3;
        line-height: $lineheightFallback3;
        font-size: $fontsize3;
        line-height: $lineheight3;
    }
    @mixin typesize2 {
        font-size: $fontsizeFallback2;
        line-height: $lineheightFallback2;
        font-size: $fontsize2;
        line-height: $lineheight2;
    }
    #info-container-1.info-container h1,
    #info-container-1.info-container .slogan,
    #info-container-1.info-container .time-local-container {
        @include typesize1;
    }
    #info-container-1 h1 img {
        height: calc(0.75 * (0.5 * #{$fontsizeFallback3}));
        height: calc(0.75 * (0.5 * #{$fontsize3}));
    }
    .local-container,
    .time-container,
    .p-container,
    .mc-field-group input,
    .optionalParent input,
    #mc_embed_signup h2,
    .slogan p {
        @include typesize2;
    }
    .slogan p {
        @include typesize2;
    }
    #info-container-1.info-container .slogan h2 {
        @include typesize1;
    }
    .newsletter h2 {
        @include typesize1;
    }
    .newsletter a {
        @include typesize2;
    }
    //////////////////////////////////////////////////////// FOOTER
    .newsletter h2 {
        @include typesize2;
    }
    .newsletter a {
        @include typesize2;
    }
    .social a {
        @include typesize2;
    }
    //////////////////////////////////////////////////////// MENU
    .menu-container a,
    #artshare-title,
    .program-nav-wrapper {
        @include typesize1;
    }
    #artshare-logo {
        height: calc(1.6 * (0.5 * #{$fontsizeFallback3}));
        height: calc(1.6 * (0.5 * #{$fontsize3}));
    }
    .menu-container {
        @include typesize1;
    }
    .circle {
        height: calc(1.3 * (0.5 * #{$fontsizeFallback2}));
        height: calc(1.3 * (0.5 * #{$fontsize2}));
        width: calc(1.3 * (0.5 * #{$fontsizeFallback2}));
        width: calc(1.3 * (0.5 * #{$fontsize2}));
    }
    .menu-container a {
        @include typesize2;
    }
    #artshare-title {
        @include typesize1;
    }
    //////////////////////////////////////////////////////// Programa
    #program-wrapper {
        @include typesize2;
    }
    #program-wrapper h2 {
        @include typesize1;
    }
    .more {
        @include typesize2;
    }
    .hour {
        @include typesize2;
    }
    .photo {
        grid-column: 1/2;
        height: calc(10 * (0.5 * #{$fontsizeFallback2}));
        height: calc(10 * (0.5 * #{$fontsize2}));
        width: calc(10 * (0.5 * #{$fontsizeFallback2}));
        width: calc(10 * (0.5 * #{$fontsize2}));
    }
    .hour,
    .name,
    .title {
        @include typesize1;
    }
}